<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AdminPage</title>
</head>
<body>
    <div style="display: flex; margin: 0 auto; outline: auto; width: 1000px; min-height: 600px">
        <div style="width: 200px; height: 500px; outline: 1px solid blue">
            <div onclick="loadFlagMents('categoryManageMent','route')">카테고리관리</div>
            <div onclick="loadFlagMents('productManageMent','route')">상품관리</div>
            <div onclick="loadFlagMents('userManageMent','route')">회원관리</div>
            <div onclick="loadFlagMents('orderManageMent','route')">주문관리</div>
            <div onclick="loadFlagMents('inquiryManageMent','route')">문의내역</div>
            <div onclick="loadFlagMents('statistics','route')">통   계</div>
        </div>
        <div style="width: 100%; height: 500px; outline: 1px solid red">
            <div id="route"></div>
        </div>
    </div>
</body>

<script>
    const loadFlagMents = async (fragmentName, route, param=0)=>{

        const api = await fetch(`/admin/fragment/${fragmentName}?id=${param}`,{
            method: 'GET',
        })
        const response = await api.text()
        console.log(response);
        document.getElementById(route).innerHTML= response;
    }

    const categoryModify = async ()=>{
        const api = await fetch(`/category/modify`,{
            method: 'PUT',
            body:new URLSearchParams(new FormData(document.getElementById('categoryModify')))
        })

        api.status === 200 && alert('수정 완료')

        window.location.assign('/admin')

    }

    const categoryRemove = async (param)=>{
        if(!confirm("삭제 하시겠습니까?")){
            return;
        }

        const api = await fetch(`/category/delete?id=${param}`,{
            method: 'DELETE',
        })

        api.status === 200 && alert('삭제 완료')
        window.location.href='/admin'
    }



</script>
</html>