<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<th:block th:fragment="categoryManagement">
    <div id="categoryManagement">
        <div onclick="categorySaveForm()">카테고리 생성</div>
        <div onclick="categoryList()">카테고리 조희</div>
    </div>
</th:block>

<th:block th:fragment="categorySaveForm">
    <form id="categorySave" th:object="${categoryDTO}" method="post">
        <h2>카테고리 생성</h2>
        <div>
            <label for="categoryName">카테고리 이름</label>
            <input type="text" id="categoryName" th:field="*{categoryName}"/>
        </div>
        <div>
            <label for="depNo">상위카테고리</label>
            <select id="depNo" th:field="*{depNo}">
                <option value="0" th:text="상위카테고리설정"></option>
                <option th:each="category : ${categoryDTOS}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>
        <button id="saveButton" type="button" onclick="categorySave()">저장</button>
    </form>
</th:block>

<th:block th:fragment="categorySearch">
    <div id="categorySearch"  th:each="category : ${categoryDTOS}">
        <div>
            <div th:text="${category.categoryName}">대분류</div>
            <div>
                <button th:onclick="|categoryModifyForm(${category.id})|">수정</button>
                <button th:onclick="|categoryRemove(${category.id})|">삭제</button>
            </div>
        </div>
        <div class="categorySearchSubCategory" th:if="${category.subCategories.size() > 0}">
            <div>세부카테고리</div>
            <div th:each="subCategory : ${category.subCategories}">
                <div th:text="${subCategory.categoryName}">중분류</div>
                <div>
                    <button th:onclick="|categoryModifyForm(${subCategory.id})|">수정</button>
                    <button th:onclick="|categoryRemove(${subCategory.id})|">삭제</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="categoryModifyForm">
    <form id='categoryModify' th:object="${categoryDTO}">
        <h2>카테고리 수정</h2>
        <div>
            <input type="hidden" th:field="*{id}">
            <label for="categoryName">카테고리 이름</label>
            <input type="text" id="categoryName" th:field="*{categoryName}"/>
        </div>

        <div>
            <label for="depNo">상위카테고리</label>
            <select id="depNo" th:field="*{depNo}">
                <option value="0" th:text="상위카테고리설정"></option>
                <option th:each="category : ${categoryDTOS}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>
        <button id="modifyButton" type="button" onclick="categoryModify()">수정</button>
    </form>
</th:block>

</body>
</html>