<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="inquiryManagement">
    <div id="inquiryManagement">
        <button onclick="inquiryList()">전체 문의내역</button>
        <button onclick="noAnswerInquiryList()">미답변 문의내역</button>
    </div>
    <div>
        <div id="inquiryHeader">
            <div class="inquiryId">#</div>
            <div class="inquiryCategoryName">분류</div>
            <div class="inquiryName">제목</div>
            <div class="inquiryCreatedAt">작성일</div>
            <div class="inquiryUserNickname">이름</div>
            <div class="inquiryAnswer">답변여부</div>
        </div>

        <div class="inquiryItem" style="display: flex" th:each="inquiry : ${inquiries}">
            <div class="inquiryId">
                <span th:text="${inquiry.inquiryId}"></span>
                <input type="hidden" th:value="${inquiry.categoryId}"/>
            </div>
            <div class="inquiryCategoryName">
                <span th:text="${inquiry.categoryName}"></span>
            </div>
            <div class="inquiryName">
                <a th:href="@{'/admin/inquiries/detail/'+${inquiry.inquiryId}}">
                    <span th:text="${inquiry.title}"></span>
                </a>
            </div>
            <div class="inquiryCreatedAt">
                <span th:text="${inquiry.createdAt}"></span>
            </div>
            <div class="inquiryUserNickname">
                <span th:text="${inquiry.username}"></span>
            </div>
            <div class="inquiryAnswer">
                <span th:if="${inquiry.inquiryAnswer}">답변완료</span>
                <span th:unless="${inquiry.inquiryAnswer}">미답변</span>
            </div>
        </div>
    </div>
</th:block>

<th:block  th:fragment="inquiryDetail">
    <div id="inquiryDetail">
        <h2 th:text="${inquiryDetailDTO.categoryName}"></h2>
        <div id="inquiry">
            <div><input type="hidden" th:value="${inquiryDetailDTO.inquiryId}"/></div>
            <div><label>작성일</label><span th:text="${inquiryDetailDTO.createdAt}"></span></div>
            <div><label>작성자</label><span th:text="${inquiryDetailDTO.username}"></span></div>
            <div><label>제목</label><span th:text="${inquiryDetailDTO.title}"></span></div>
            <div><label>내용</label><span th:text="${inquiryDetailDTO.content}"></span></div>
        </div>
        <div id="inquiryAnswer">
            <th:block th:if="${inquiryDetailDTO.inquiryAnswer}">
                <input type="hidden" th:value="${inquiryDetailDTO.InquiryAnswerId}"/>
                <div><label>답변자</label><span th:text="${inquiryDetailDTO.adminUsername}"></span></div>
                <div><label>답변내용</label><span id="adminContent" th:text="${inquiryDetailDTO.adminContent}"></span></div>
                <div><label>답변작성일</label><span th:text="${inquiryDetailDTO.adminCreatedAt}"></span></div>
            </th:block>

            <th:block th:unless="${inquiryDetailDTO.inquiryAnswer}">
                <div><label>답변자</label><span th:text="${inquiryDetailDTO.adminUsername}"></span></div>
                <div><label>답변내용</label><textarea></textarea></div>
            </th:block>
        </div>
        <div>
            <button onclick="historyBack()">이전으로</button>
            <button th:if="${inquiryDetailDTO.inquiryAnswer}" onclick="inquiryAnswerModifyForm()">답변수정</button>
            <button th:unless="${inquiryDetailDTO.inquiryAnswer}" onclick="inquiryAnswerSave()">답변저장</button>
        </div>
    </div>
</th:block >

<th:block  th:fragment="inquiryModifyForm">
    <div id="inquiryModifyForm">
        <h2 th:text="${inquiryDetailDTO.categoryName}"></h2>
        <div id="inquiry">
            <div><input type="hidden" th:value="${inquiryDetailDTO.inquiryId}"/></div>
            <div><label>작성일</label><span th:text="${inquiryDetailDTO.createdAt}"></span></div>
            <div><label>작성자</label><span th:text="${inquiryDetailDTO.username}"></span></div>
            <div><label>제목</label><span th:text="${inquiryDetailDTO.title}"></span></div>
            <div><label>내용</label><span th:text="${inquiryDetailDTO.content}"></span></div>
        </div>
        <div id="inquiryAnswer">
            <input type="hidden" th:value="${inquiryDetailDTO.InquiryAnswerId}"/>
            <div><label>답변자</label><span th:text="${inquiryDetailDTO.adminUsername}"></span></div>
            <div><label>답변내용</label><textarea id="adminContent" >[[${inquiryDetailDTO.adminContent}]]</textarea></div>
            <div><label>답변작성일</label><span th:text="${inquiryDetailDTO.adminCreatedAt}"></span></div>
        </div>
        <div>
            <button onclick="historyBack()">이전으로</button>
            <button onclick="inquiryList()">목록</button>
            <button onclick="inquiryAnswerModify()">답변수정</button>
        </div>
    </div>
</th:block >

</body>
</html>