<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인페이지</title>
</head>
<body>
<div style="display: flex; margin: 0 auto; outline: auto; width: 1000px; min-height: 600px">
    <div style="width: 200px; height: 500px; outline: 1px solid blue">
        <div onclick="categoryManage()">카테고리관리</div>
        <div onclick="productManage()">상품관리</div>
        <div onclick="loadFlagMents('userManageMent','route')">회원관리</div>
        <div onclick="loadFlagMents('orderManageMent','route')">주문관리</div>
        <div onclick="loadFlagMents('inquiryManageMent','route')">문의내역</div>
        <div onclick="loadFlagMents('statistics','route')">통 계</div>
    </div>
    <div style="width: 100%; height: 500px; outline: 1px solid red">

        <div th:if="${categoryCheck}" th:fragment="categoryTopContent">
            <div th:replace="views/fragments/category :: categoryManagement"></div>
        </div>
        <div th:if="${categorySaveForm}" th:fragment="categoryMiddleContent">
            <div th:replace="views/fragments/category :: categorySaveForm"></div>
        </div>
        <div th:if="${categoryModifyForm}" th:fragment="categoryMiddleContent">
            <div th:replace="views/fragments/category :: categoryModifyForm"></div>
        </div>
        <div th:if="${categorySearch}" th:fragment="categoryMiddleContent">
            <div th:replace="views/fragments/category :: categorySearch"></div>
        </div>
        <div th:if="${productCheck}" th:fragment="productTopContent">
            <div th:replace="views/fragments/product :: productManagement"></div>
        </div>
        <div th:if="${productSaveForm}" th:fragment="productMiddleContent">
            <div th:replace="views/fragments/product :: productSaveForm"></div>
        </div>
        <div th:if="${productSearch}" th:fragment="productMiddleContent">
            <div th:replace="views/fragments/product :: productSearch"></div>
        </div>
        <div th:if="${productModifyForm}" th:fragment="productMiddleContent">
            <div th:replace="views/fragments/product :: productModifyForm"></div>
        </div>
        <div th:if="${productVariantForm}" th:fragment="productMiddleContent">
            <div th:replace="views/fragments/product :: productVariantForm"></div>
        </div>
        <div th:if="${productSearchAllResult}" th:fragment="productBottomContent">
            <div th:replace="views/fragments/product :: productSearchAllResult"></div>
        </div>

    </div>

</div>
</body>

<script  src="/js/api.js"></script>
<script  src="/js/category.js"></script>
<script  src="/js/product.js"></script>

<script>



</script>

</html>