<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="/css/inquiry.css">
    <title>메인페이지</title>
</head>
<body>
<div id="layout">
    <div id="layoutLeft">
        <div onclick="categoryManage()">카테고리관리</div>
        <div onclick="productManage()">상품관리</div>
        <!--        <div onclick="memberManage()">회원관리</div>-->
        <div onclick="orderManage()">주문관리</div>
        <div onclick="inquiryManage()">문의내역</div>
        <!--        <div onclick="loadFlagMents('statistics','route')">통 계</div>-->
    </div>
    <div id="layoutRight">

        <th:block th:if="${categoryCheck}" th:fragment="categoryTopContent">
            <th:block th:insert="views/fragments/category :: categoryManagement"></th:block>
        </th:block>

        <th:block th:if="${categorySaveForm}" th:fragment="categoryMiddleContent">
            <th:block th:insert="views/fragments/category :: categorySaveForm"></th:block>
        </th:block>

        <th:block th:if="${categoryModifyForm}" th:fragment="categoryMiddleContent">
            <th:block th:insert="views/fragments/category :: categoryModifyForm"></th:block>
        </th:block>

        <th:block th:if="${categorySearch}" th:fragment="categoryMiddleContent">
            <th:block th:insert="views/fragments/category :: categorySearch"></th:block>
        </th:block>

        <th:block th:if="${productCheck}" th:fragment="productTopContent">
            <th:block th:insert="views/fragments/product :: productManagement"></th:block>
        </th:block>

        <th:block th:if="${productSaveForm}" th:fragment="productMiddleContent">
            <th:block th:insert="views/fragments/product :: productSaveForm"></th:block>
        </th:block>

        <th:block th:if="${productSearch}" th:fragment="productMiddleContent">
            <th:block th:insert="views/fragments/product :: productSearch"></th:block>
        </th:block>

        <th:block th:if="${productModifyForm}" th:fragment="productMiddleContent">
            <th:block th:insert="views/fragments/product :: productModifyForm"></th:block>
        </th:block>

        <th:block th:if="${productVariantForm}" th:fragment="productMiddleContent">
            <th:block th:insert="views/fragments/product :: productVariantForm"></th:block>
        </th:block>

        <th:block th:if="${productSearchAllResult}" th:fragment="productBottomContent">
            <th:block th:insert="views/fragments/product :: productSearchAllResult"></th:block>
        </th:block>

        <th:block th:if="${orderCheck}">
            <th:block th:insert="views/fragments/order :: orderManagement"></th:block>
        </th:block>

        <th:block th:if="${orderDetailCheck}">
            <th:block th:insert="views/fragments/order :: orderDetail"></th:block>
        </th:block>

        <th:block th:if="${inquiryCheck}">
            <th:block th:insert="views/fragments/inquiry :: inquiryManagement"></th:block>
        </th:block>

        <th:block th:if="${inquiryDetailCheck}">
            <th:block th:insert="views/fragments/inquiry :: inquiryDetail"></th:block>
        </th:block>

        <th:block th:if="${inquiryModifyFormCheck}">
            <th:block th:insert="views/fragments/inquiry :: inquiryModifyForm"></th:block>
        </th:block>


    </div>

</div>
</body>

<script src="/js/api.js"></script>
<script src="/js/category.js"></script>
<script src="/js/product.js"></script>
<script src="/js/order.js"></script>
<script src="/js/common.js"></script>
<script src="/js/inquiry.js"></script>

<script>
   const orderStatusChangeModal = (button) =>{
       const div = button.closest('div').parentNode;
       const orderId = div.querySelector("input[type='hidden']").value;

       const modal = document.createElement('div');
       modal.setAttribute('id', 'modal')
       modal.onclick = () => modalClose(event);

       modal.style.display = "block";

       modal.innerHTML = `
            <div class="modalContent">
                <input type="hidden" value="${orderId}">
                <div>
                    <select>
                        <option value="PREPARING_ITEM">상품주문완료</option>
                        <option value="PREPARING_ITEM_CHECK">상품 준비중</option>
                        <option value="DELIVERY_IN_PROGRESS">배송중</option>
                        <option value="DELIVERY_COMPLETED">배송완료</option>
                        <option value="ORDER_CANCELED">주문취소</option>
                    </select>
                </div>
                <div>
                    <button onclick="orderStatusChange(this)"> 등록</button>
                    <button onclick="buttonModalClose()"> 취소</button>
                </div>
            </div>

`
        console.log(div)
       div.append(modal)

   }

   const modalClose = (event) => {

       const modal = document.getElementById('modal');
       const modalContent = document.getElementById('modal-content');

       if (event.target === modalContent) {
           event.stopPropagation();
           return;
       }

       if (event.target === modal) {
           modal.remove();
       }

   }

   const buttonModalClose = () => {
       const modal = document.getElementById('modal');
       modal.remove();
   }



</script>

</html>