<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/loginPage.css">
</head>
<body>
<div>
    <form method="post" id="loginForm" th:object="${adminLgoinDTO}">
        <h2>ADMIN LOGIN</h2>
        <div>
            <label for="username">id</label>
            <input type="text" id="username" th:field="*{username}"/>
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" th:field="*{password}"/>
        </div>
        <div>
            <button type="button" onclick="login()">LogIn</button>
        </div>
    </form>
</div>
</body>

<script>
    const login = async () => {

        const data = new FormData(document.getElementById('loginForm'))

        const response = await fetch(`/login`, {
            method: 'post',
            body: data
        })

        if (!response.ok) {
            alert('존재하지 않는 회원입니다.')
            return;
        }

        const responseData = await response.text();
        localStorage.setItem('Authorization', responseData);
        alert('로그인 완료')

        window.location.href = '/'

    }

    const check = () => {
        const auth = localStorage.getItem('Authorization')
        console.log(auth)

        const json = JSON.parse(auth);
        console.log(json)

        const accessToken = json.accessToken;
        console.log(accessToken)
    }


</script>
</html>